.main {
  background-color: $blue_background;
  height: 85vh;
  display: flex;
  justify-content: space-around;

  .time {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    font-family: $font;
  
    .hour {
      font-size: 300px;
      color:  $black_hour_color;
      .type {
        font-size: 40px;
        flex-wrap: nowrap;
      }
    }

    .date {
      font-size: 60px;
      color: $black_hour_color;
    }
  }

  .number {
    display: flex;
    flex-direction: column;
    padding: 180px 0;

    h3 {
      font-size: 45px;
      margin-bottom: 10px;
      font-family: $font;
      color: $aqua_label;
    }

    input {
      width: 350px;
      height: 50px;
      font-size: 40px;
      font-family: $font;
      border: 0;
      border-radius: 10px;
      padding: 10px;
    }

    ::placeholder {
      opacity: 0.2;
    }

    button {
      width: 200px;
      height: 40px;
      margin: 20px;
      font-family: $font;
      font-size: 30px;
      align-self: center;
    }
  }
  
  .secondary-button-style {
      background-color: $red_button;
      color: $wheat_button;
      font-weight: 700;
      &:hover {
        background-color: $red_button_hover;
        transition: all .4s ease-in-out;
      }
  }
}
