<div class="main">
  <div class="time">
    <h1>7:40</h1>
  </div>
  <div class="number">
    <h6>
      Private number
    </h6>
    <input type="text" class="input-text" placeholder="Enter number">
    <button class="secondary-button">
      Clock In
    </button>
  </div>
</div>