<div class="main">
  <div class="time">
    <span class="date">
      10 marzo 2022
    </span>
    <span class="hour">
      7:40<span class="type">AM</span>
    </span>
  </div>
  <div class="number">
    <h3>
      Private number
    </h3>
    <input type="text" class="input-text" placeholder="Enter number">
    <button class="secondary-button-style">
      CHECK
    </button>
  </div>
</div>