.header {
  background-color: $blue_background;
  box-sizing: border-box;
  display: flex;
  height: 120px;
  justify-content: space-between; 
  padding: 0 20px;
  width: 100%;
  align-items: center;

  .clock-icon {
    font-size: 80px;
  }
  
  .title {
    color: $white_title;
    font-size: 70px;
  }

  .primary-button-style {
    background-color: $blue_button;
    transition: all .4s ease-in-out;
    font-weight: 700;
    
    &:hover {
      background-color: $blue_button_hover;
    }
  }
}