.header {
  align-items: center;
  background-color: $blue_background;
  box-sizing: border-box;
  display: flex;
  height: 120px;
  justify-content: flex-end;
  padding: 0 20px;
  position: relative;
  width: 100%;

  .title {
    align-self: auto;
    color: $white_title;
    flex: 0 1 auto;
    font-size: 70px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
}
