$aqua_label: #D0F1E9;
$black_hour_color: #112;
$blue_background: #134F5B;
$blue_button_hover:#45817A;
$blue_button: #45818E;
$blue_header_background: #0C343D;
$delete_button: #af0a0a;
$edit_button: #f1d117 ;
$red_button_hover: #F65058AA;
$red_button: #F65058FF;
$wheat_button: #F7E9C6;
$wheat_color: #F7E9C6;
$white_button: #FFFFFF;
$white_title: #FFFFFF;

//Font Family
$font: 'Roboto', sans-serif;
