$blue_background: #134F5B;
$blue_header_background: #0C343D;
$blue_button: #45818E;
$blue_button_hover:#45817A;
$white_title: #FFFFFF;
$aqua_label: #D0F1E9;
$white_button: #FFFFFF;
$red_button: #F65058FF;
$red_button_hover: #F65058AA;
$wheat_button: #F7E9C6;
$black_hour_color: #112;

//Font Family
$font: 'Roboto', sans-serif;
