$background_color: #134F5B;
$background_color_header: #0C343D;
$primary_button: #45818E;
$secundary_button:#A0F0DC;
$font_color: #FFFFFF;
$font_size_title: 45px;
//Font Family
$font: Roboto, sans-serif;