<div class="header">
  <h1 class="title">Check In <i class="fa-solid fa-clock"></i></h1>
    <% if current_page?(:controller => 'admin', :action => 'index') %>
      <%= button_to "Exit",  "/", method: :get, class: "primary-button-style" %>
    <% else %>
     <%= button_to "Admin tools", "/admin", method: :get, class: "primary-button-style" %>
    <% end %>
</div>
