<div class="header">
  <div class="clock-icon">
    <i class="fa-solid fa-clock"></i>
  </div>
  <div>
    <h1 class="title">Check In</h1>
  </div>
  <div class="primary-button">
    <button class="button">
      Admin Tools
    </button>
  </div>
</div>